.body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    background-color: white;
    width: 100%;
    height: 60px;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    margin: 0 0 -35px 0;
    letter-spacing: 2.7px;
}

.header ul li{
    display: inline;
    list-style: none;
}

#a_nav {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    color: red;
    margin-right: 80px;
}

.photo {
    width: 100%;
}

#h2 {
    text-align: center;
    text-transform: uppercase;
    margin-top: 48px;
    margin-bottom: 38px;
    letter-spacing: 3.3px;
}

.text {
    text-align: center;
    margin: 0 67.5px;
    margin-bottom: 38px;
    letter-spacing: 2.4px;
}

.btn {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 82px;
    margin-bottom: 82px;
}

button {
    background-color: red;
    text-transform: uppercase;
    color: white;
    text-align: center;
    position: absolute;
    padding: 12px 28px;
    border: none;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    letter-spacing: 1.8px;
}

.footer {
    justify-content: right;
    float: right;
    margin-right: 180px;
}

.footer p {
    font-family: monospace;
    letter-spacing: 2.4px;
}